body {
  background-color: white;
  font-family: Helvetica;
}

header {
  margin: 3% auto 3% auto;
  background-image: url("./Images/pattern.webp");
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 100px;
  font-weight: bold;
  color: khaki;
}

h2 {
  font-size: 32px;
  font-weight: bold;
  color: white;
}

.brushes {
  background-color: mediumspringgreen;
}

.frames {
  background-color: lightcoral;
}

.paint {
  background-color: skyblue;
}

.cost {
  font-weight: bold;
  color: blue;
}
